*:focus 
{
        outline: none;
}
body 
{
	font-size: 1.0em;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
}
html
{ 	
	font-size: 100%;
	display: block;
}
input[type='checkbox']
{
	border-radius: 4px;
	margin: 0px !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
{  
   opacity: 1;
}
select
{
	text-align: left;
	
}
option
{
	text-align: left;
}
li
{
	font-size: 16px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}
-webkit-input-placeholder { font-size: 14px !important; text-align: left; font-family: 'Open Sans', sans-serif;}
-moz-placeholder { font-size: 14px !important; text-align: left; font-family: 'Open Sans', sans-serif;}
-ms-input-placeholder { font-size: 14px !important; text-align: left; font-family: 'Open Sans', sans-serif;}

/*----------------GENERAL CSS--------------------*/
/*----------------GENERAL CSS--------------------*/
/*----------------GENERAL CSS--------------------*/
/*----------------GENERAL CSS--------------------*/
.specTit
{
	float: left;
	width: 5%;
	margin-left: 0.5%;
	font-weight: bold;
	cursor: pointer;
}
.certsTitle
{
	float: left;
	width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 16px;
	font-style: italic;
	color: #5212ab;
}
.certsBox
{
	background: #f2e1ee;
	padding: 5px;
	padding-bottom: 10px;
	border-radius: 5px;

}
.specExplain
{
	float: left;
	margin-left: 6.5%;
	cursor: pointer;
	width: 25px;
}
.detIcon
{
	width: 95%;
}
.pDetail
{
	float: left;
	width: 100%;
	text-align: justify !important;
	padding: 0px;
	min-height: 65px;
}
.fWidthO
{
	float: left;
	width: 100%;
	text-align: center !important;
	background: rgba(216, 157, 226, 0.5);
	border-radius: 15px;
	overflow: hidden;
	
}
.fWidthO img
{
	width: 100% !important;
	max-width: 250px;
	
}
@media(max-width: 1024px)
{

	.specTit
	{
		display: none;
	}
	.specExplain
	{
		float: left;
		margin-left: 10.5%;
	}
}

@media(max-width: 767.98px)
{
	.fWidthO
	{
		width: 100%;
		text-align: center !important;
		background: none;
		border-radius: 15px;
		border: solid 0px rgba(215, 78, 239, 0.5);
		overflow: hidden;
	
	}
	.fWidthO img
	{
		display: initial !important;
		width: 68vw !important;
		float: left;
		margin-left: 5vw;
	}
	.specTit
	{
		display: none;
	}
	.specExplain
	{
		float: left;
		margin-left: 6.5%;
	}
	.certsBox
	{
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.siteName
{
	float: left;
	width: 100%;
	font-size: 1em;
	text-align: center;
	color: #5212ab;
	font-style: italic;
	background: rgba(193, 38, 159, 0.1);
	min-height: 25px;
	
}
.medalsBox
{
	width: 100%;
	padding: 3px;
	padding-bottom: 5px;
	
	border-radius: 0px 0px 5px 5px;
	background: #f7f6f7;
}
.medalsBox img
{
	width: 15%;
	margin-left: 1.6%;

}
.plistBox
{
	margin-top: 15px;
}
.noPadR
{
	padding-right: 0px !important;
	margin-left: 0px;
}
.hideXs
{
	display: flex !important;
}
.blocker
{
	position: absolute;
	background: #000000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000000;
	display: none;
}
.mainContainerWeb
{

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 1;
	/* display: none; */

}
.mainHead
{

	width: 100%;
	background: #75279c;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	z-index: 3;
	text-align: center;
	
	
}
.mainMid
{
	position: absolute;
	top: 62px;
	bottom: 0px;
	width: 100%;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	border: 1px solid red;
	overflow-y: auto;
	/* background-image: url("../irsc/mainBGB.png"); */
}
.tgLogo
{
	height: 62px !important;
}
.containerMine
{
	width: 100%;
	margin: auto;
	overflow: hidden;
	height: 100%;
	vertical-align: middle;
	position: relative;
}
.workarea
{
	width: 100%;
	margin: auto;
}
.hiddenT
{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden !important;
	height: 0;
	width: 0;
}
.floatForm
{
	max-height: 300px;
	border: 1px solid rgba(0, 0, 0, 0);
	overflow-y: auto !important;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
.pssRecLink
{
	font-size: 13px;

}
.ppicbox
{
	position: relative;
}
.ppicbox img
{
	width: 100%;
	height: 100%;
}
.edIcon1
{
	position: absolute;
	bottom: -5px;
	left: 5px;
	width: 35px !important;
	height: 35px !important;
}
.edIcon2
{
	position: absolute;
	bottom: -5px;
	right: 5px;
	width: 35px !important;
	height: 35px !important;
}

.floatForm div
{
	float: left !important;
}	
.regFormIcon
{
	width: 170px;
	margin-bottom: 5px;
	height: auto;
}
.regFieldSelect
{
	width: 32.85%;
	margin-top: 2%;
	border-radius: 5px;
	text-align: left;
	box-sizing: border-box;
	padding-left: 5px;
	font-size: 14px !important;
	border: 1px solid #272E36;
}
.conditionsAcceptLink
{
	text-align: center;
	width: 100%;
	float: left;
	margin-top: 5px;
	font-size: 13px !important;
	
}
.conditionsAcceptLink span
{
	vertical-align: middle;
	font-weight: bold;
	font-size: 13px !important;
	color: #272E36 !important;;
	
}
.conditionsAcceptLink input
{
	vertical-align: middle;
}
.conditionsBox
{
	float: left;
	width: 100%;
	margin-top: 10px;
	text-align: justify;
	background:  rgba(255, 255, 255, 0.7);
	box-sizing: border-box;
	border-radius: 5px;
	padding: 15px;
	max-height: 350px;
	overflow-x: hidden;
	overflow-y: auto;
	color: #272E36;
	font-size: 13px;
	overflow-y: auto;
}
.optionDiv
{
	margin: auto;
	background: #ffffff;
	margin-left: 5%;
	margin-top: 7px;
	margin-bottom: 7px;
	border-radius: 5px;
}
.dualButtonsDiv
{
	float: left;
	margin-top: 1%;
	width: 100%;
	box-sizing: border-box;
	text-shadow: 0px 0px 4px #000000;
}
.singleButton
{
	float: left;
	width: 40%;
	margin-left: 30%;
	margin-top: 2%;
	margin-bottom: 15px;
	background: #75279c;
	border-radius: 6px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	padding: 6px;
	text-shadow: 0px 0px 4px #000000;
}
.dualButton
{
	float: left;
	width: 40%;
	margin-left: 6.7%;
	margin-top: 2%;
	margin-bottom: 15px;
	background: #75279c;
	border-radius: 6px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	padding: 6px;
	text-shadow: 0px 0px 4px #000000;

}
.dualButton:hover
{
	background: #272E36;
}
.pssRecBox
{
	text-align: center;
}
.pssRecMain
{
	text-align: center;
}
.pssRecMain div
{
	width: 300px;
	margin: auto;
	border: 5px solid #ffffff;
	margin-top: 50px;
	border-radius: 10px;
	padding: 15px;
}
.pssRecMain img
{
	margin-bottom: 20px;
	margin-top: 20px;
	width: 80%;
}
.pssRecMain input[type=text]
{
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 3px;
	border-radius: 10px;
	text-align: center;
}
.pssRecMain button
{
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 3px;
	border-radius: 10px;
	text-align: center;
	background: #2d6c6f;
	border: 3px solid #ffffff;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
}
.pssRecMain span
{
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 16px;
}
.passCheckDiv
{
	width: 100%;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.floatParagraph
{
	width: 100%;
	text-align: center;
	color: #272E36;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.loginArea
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;
	display: none;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	background: #ffffff;
	z-index: 1;
}
.loginBox
{
	margin: auto;
	border-radius: 5px;
	text-align: center;
	overflow: hidden;
	max-width: 400px;

}
.loginTitle1
{
	margin: auto;
	max-width: 90%;
	font-size: 16px;
	color: #75279c;
	font-weight: bold;
	text-align: center;
}
.loginTitle2
{
	margin: auto;
	max-width: 90%;
	font-size: 14px;
	color: #000000;
}
.loginButton
{
	float: left;
	width: 48%;
	margin: auto;
	border-radius: 5px;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 0.5%;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	background: #75279c;
	color: #ffffff;
	padding-top: 1%;
	padding-bottom: 1%;
	text-shadow: 0px 0px 4px #000000;
	cursor: pointer;
}
.mainMiddleContent
{
	float: left;
	position: relative;
	width: 100%;
	height: 100%;
}
.infoIcon
{
	width: 55px;
	margin-bottom: 5px;
	margin-top: 10px;
}
.recMailBox
{
	width: 90% !important;
	margin-left: 5% !important;
	margin-bottom: 10px;
	border-radius: 5px;
	text-align: center;
}
.noLRPad
{
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-top: -1px;
	display: inline-block;
}
.noLRMar
{
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.centered
{
	text-align: center;
}
.optIcon
{
        text-align: center !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
}
.optIcon img
{
        width: 23px;
        margin-top: 8px;
        cursor: pointer;
}
.contentBox
{
	margin: auto;
	max-width: 1000px;
	border-radius: 5px;
	min-height: 200px;
	background: #f5f5f5;
	border: 1px solid #cccccc;
}




/*----------------GENERAL CSS END--------------------*/
/*----------------GENERAL CSS END--------------------*/
/*----------------GENERAL CSS END--------------------*/
/*----------------GENERAL CSS END--------------------*/


/*----------------UTILITIES--------------------*/
/*----------------UTILITIES--------------------*/
/*----------------UTILITIES--------------------*/
/*----------------UTILITIES--------------------*/



/*----------------RESPONSIVE MENU -------------------------*/
ul.topnav
{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #2d6c6f;
		z-index: 3;
		width: 100%;

}
ul.topnav li 
{
        float: left;
        cursor: pointer;

}
ul.topnav li a 
{
        display: inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 20px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 13px;
}
ul.topnav li a:hover 
{
        background-color: #111;
}
ul.topnav li.icon 
{
        display: none;
}
@media screen and (max-width:1200px) 
{
		ul.topnav li:not(:first-child) 
        {
                display: none;
        }
        ul.topnav li.icon 
        {
                float: right;
                display: inline-block;
				color: #ffffff !important;
				margin-right: 5px;
        }
		
		ul.topnav.responsive 
        {       
			position: relative;
			z-index: 3;
			padding-bottom: 10px;
			font-weight: bold;
        }
        ul.topnav.responsive li.icon 
        {
                position: absolute;
                right: 0;
                top: 0;
				color: #ffffff !important;
				text-shadow: 0px 0px 0px #ffffff !important;
				margin-right: 5px;
        }
        ul.topnav.responsive li 
        {
                float: none;
                display: inline;
        }
        ul.topnav.responsive li a 
        {
                display: block;
                text-align: left;
        }
		
		ul.topnav.nresponsive 
        {       
			list-style-type: none;
			margin: 0;
			padding-bottom: 10px;
			overflow: hidden;
			background-color: #2d6c6f;
			z-index: 3;
			width: 100%;

        }
		ul.topnav.nresponsive li.icon 
        {
                position: absolute;
                right: 0;
                top: 0;
				color: #ffffff !important;
				text-shadow: 0px 0px 0px #ffffff !important;
				margin-right: 5px;
        }
        ul.topnav.nresponsive li 
        {
                float: none;
                display: inline;
        }
        ul.topnav.nresponsive li a 
        {
                display: block;
                text-align: left;
        }

}
/*----------------RESPONSIVE MENU -------------------------*/


.menu
{
	

	list-style: none !important;
	line-height: 42px;
	outline: 1px solid red;
	padding-left: 0px;
	width: 15em;
	
}

.menu a
{
	display: block;
	color: #ddd;
	padding-left: 3em;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
	background: url(../irsc/iconset.png) no-repeat top left;
	
}
.menu li
{
	box-shadow: 3px 0 rgba(0,0,0, .9)  inset;
	margin-bottom: 5px;
	padding-left: 0em;
	--webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.menu li:hover
{
	box-shadow: 15em 0 rgba(0,0,0, .9)  inset;
}

.menu li:nth-child(2) a
{
	background-position: 0-42px;
}

.menu li:nth-child(3) a
{
	background-position: 0 -84px;
}

.menu li:nth-child(4) a
{
	background-position: 0 -132px;
}

/*----------------TABS MENU -------------------------*/

.card.hovercard .card-background 
{
    /* height: 130px; */
}
.card-background img 
{
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar 
{
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img 
{
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info 
{
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title 
{
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info 
{
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom 
{
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn 
{
    -webkit-border-radius:0 !important;
}
/*----------------TABS MENU END-------------------------*/



/*----------------FIELDS--------------------*/
.fields input[type="text"]:disabled, input[type="password"]:disabled
{
        background: #aaaaaa;
}
.fields select:disabled
{
        background: #aaaaaa;
}
.fields input[type="text"], input[type="password"]
{
	float: left;
	margin-top: 2px;
	margin-bottom: 10px;
	width: 100%;
	border: 1px solid #DEDEDE;
	height: 30px !important;
	font-size: 14px;
	padding-left: 8px;
	border-radius: 5px;
	background: #ffffff;
}
.fields textarea
{
	float: left;
	margin-top: 2px;
	margin-bottom: 10px;
	width: 100%;
	min-height: 60px;
	border: 0px solid #DEDEDE;
	font-size: 14px;
	background: #fdf3e5;
	resize: none;
	border-radius: 5px;
	padding-left: 8px;
}
.fields select
{
	margin-top: 2px;
	margin-bottom: 10px;
	width: 100%;
	border: 0px solid #DEDEDE;
	height: 30px !important;
	font-size: 14px;
	text-align-last: left !important; 
	background: #ffffff;
}
.centField
{
	text-align: center !important;
}
/*----------------FIELDS--------------------*/

/*----------------BUTTONS AND LABELS--------------------*/
.panelButtFull
{
	/* border: 1px solid red; */
}
.panelButtFull button
{
	float: left;
	width: 100%;
	background: #2d6c6f;
	color: #ffffff;
	border: 0px solid #aaaaaa;
	height: 30px !important;
	font-size: 13px;
	font-weight: bold;
	border-radius: 5px;
}
.panelButtFull button:hover
{
        background: #272E36;
}
.fLabel span
{
	text-align: left;
	font-size: 13px;
	color: #2d6c6f;
	font-weight: bold;
	width: 100%;
}
/*----------------BUTTONS AND LABELS--------------------*/

/*----------------BOXSPAND--------------------*/
.mainbs
{
	overflow: hidden;
	width: 100%;
	margin-bottom: 10px;
	-webkit-transition: height 1s ease;
	-moz-transition: height 1s ease;
	-o-transition: height 1s ease;
	transition: height 1s ease;
}
.tBar
{
	background: #ffffff;
	height: 30px;
	padding-left: 10px;
	box-sizing: border-box;
	display: table;
	width: 100%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 3px solid #bae6ce;
	margin-bottom: 10px;
	text-align: left;
}
.tBar span
{
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	color: #f76209;
	text-shadow: 2px 2px 5px #ffffff;
	width: auto;
	
}
.expandIcon
{
	float: right;
	width: 20px;
	margin-right: 5px;
}
.expandIcon:Hover
{
	cursor: pointer;
}
/*----------------BOXSPAND--------------------*/

/*----------------IMAGE CROPER--------------------*/
.imageBox
{
    position: relative;
    height: 200px;
    width: 200px;
    border:1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor:move;
}
.imageBox .thumbBox
{
    /* display: none; */
	position: absolute;
    top: 35%;
    left: 35%;
    width: 160px;
    height: 160px;
    margin-top: -50px;
    margin-left: -50px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}
.action
{
	width: 100%;
	text-align: center;
}
.cropBtn
{
	width: 40px;
	height: 30px;
	background: #800080;
	/* border-radius: 6px; */
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
	border: solid 0px red;
	padding: 6px;
	text-shadow: 0px 0px 4px #000000;
	margin-top: -1px;
	border-radius: 5px;
}
.sizeBtn
{
	width: 40px;
	background: #800080;
	margin-left: 3px;
	/* border-radius: 6px; */
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	color: #ffffff;
	border: solid 0px red;
	border-radius: 5px;
	text-shadow: 0px 0px 4px #000000;
}
.imageBox .spinner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 200px;
    background: rgba(0,0,0,0.7);
}
.cropped
{
	display: none;
}
/*----------------IMAGE CROPER--------------------*/

.fileBox
{
	height: 30px;
	font-size: 12px;
}
.fileBoxHidden
{
	display: none !important;
}

/*----------------TABLES--------------------*/
.table
{
	display:table;	/* Defines a Table */
	font-size:14px;
	border-bottom:1px solid #dddddd;
	color:#8d8d8d;
	width: 100%;
	-o-user-select: text !important;
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
    user-select: text !important;
}
.table td
{
	text-align: center;
}
.table-head
{
	 display: table-header-group; /* Defines a table header group */
         
}
.table-head .column
{ 
	background: #f76209;
	font-weight: bold;
	color: #ffffff;
	border-right:1px solid #ffffff;
	border-bottom:none;
	cursor: pointer;

}
.table-head .column:hover
{ 
	background #f76209;
}
.rowT
{
	display:table-row; /* Defines a table row */
}
.rowT:hover
{
        background:#F4F5F9;
}
.rowT .column:nth-child(1)
{ 
	border-left:1px solid #eeeeee;
}
.rowT:last-child .column
{  
	border-bottom:none;
}
.column
{
	display:table-cell; /* Defines a table cell */
	padding: 5px 10px;
	border-bottom:1px solid #eeeeee;
	border-right:1px solid #eeeeee;
	font-size: 13px;
}
.columnWhite
{
	cursor: pointer;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	border-bottom:1px solid #eeeeee;
	font-size: 12px;
}
.checks
{
	text-align: center !important; 
	max-width: 10px;
	vertical-align: middle;
}
.checks input[type=checkbox]
{
	width: 20px !important; 
	margin-left: 0.5%;
	vertical-align: middle;
	margin-right: 0.5%;
	cursor: pointer;
}
/* Responsive table */
@media all and (max-width: 768px){
	.table,
	.rowT,
	.column,
	.column:before
        {
		display:block;	/* Converts a table, table row, table column and table column:before into a block element */
                
	}
	.table,
	.rowT .column:last-child
	{
		border-bottom:none;
	}
	.table-head
	{
		position:absolute;	/* Hides table head but not using display none */
		top:-1000em;
		left:-1000em;
                
	}
	.rowT
	{
		border:1px solid #eeeeee;
		border-top:0px solid #dddddd;
		border-bottom: 0px solid #f76209;
		border-top: 3px solid #f76209;

	}
	.rowT .column:nth-child(1)
	{ 
		border-left:none;
	}
	.rowT .column:last-child
	{
		border-right:none;
	}
	.rowT:last-child .column,
	.column
	{ 
		border-bottom:1px solid #eeeeee;
		padding: 2px 5px;
		text-align: left;
	}
	.column:before
	{ 
		padding-right:0px;
		font-size: 13px;
		color: #2d6c6f;
		content:""attr(data-label)"";
	}
	.opts img
	{
			width: 30px !important; 
			margin-left: 5%;
			margin-right: 5%;
	}
	.pbox
	{
			float: left;
			width: 80%;
			padding-left: 5px !important;
			padding-right: 5px !important;
			font-size: 13px;
	}
	.uMailBotDiv
	{
		float: right;
		width: 100%;
		margin-top: 5px;
		text-align: justify;
		box-sizing: border-box;
		height: 240px;
		overflow-x: hidden;
		overflow-y: auto;
		color: #272E36;
		font-size: 14px;
		box-sizing: border-box;
	}
	.legalAdviseBox
	{
		float: left;
		width: 100%;
		margin-top: 10px;
		text-align: justify;
		background:  rgba(255, 255, 255, 0.7);
		box-sizing: border-box;
		border-radius: 5px;
		padding: 15px;
		max-height: 300px;
		overflow-x: hidden;
		overflow-y: auto;
		color: #272E36;
		font-size: 13px;
		overflow-y: auto;
	}
	.hideXs
	{
		display: none !important;
	}
}
.blankProducts
{
	margin-top: 5px;
	font-size: 12px;
	color: #3E4095 !important;
	text-align: center;
	font-weight: bold;
	width: 100%;
}
/*----------------TABLES--------------------*/


/*----------------UTILITIES END--------------------*/
/*----------------UTILITIES END--------------------*/
/*----------------UTILITIES END--------------------*/
/*----------------UTILITIES END--------------------*/
/*----------------UTILITIES END--------------------*/
