.css_course_id_label, .css_course_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_course_id_grid_line, .css_course_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_course_title_label, .css_course_title_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_course_title_grid_line, .css_course_title_grid_line:hover {vertical-align: top;text-align: right;}
.css_course_descriptcion_label, .css_course_descriptcion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_course_descriptcion_grid_line, .css_course_descriptcion_grid_line:hover {vertical-align: top;text-align: right;}
.css_course_lenght_label, .css_course_lenght_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_course_lenght_grid_line, .css_course_lenght_grid_line:hover {vertical-align: top;text-align: right;}
.css_course_lang_label, .css_course_lang_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_course_lang_grid_line, .css_course_lang_grid_line:hover {vertical-align: top;text-align: right;}
.css_course_img_label, .css_course_img_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_course_img_grid_line, .css_course_img_grid_line:hover {vertical-align: top;text-align: right;}
.css_is_displayed_label, .css_is_displayed_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_is_displayed_grid_line, .css_is_displayed_grid_line:hover {vertical-align: top;text-align: right;}
