.css_course_id_det_label, .css_course_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_course_id_det_line, .css_course_id_det_line:hover {height:0px;text-align: left;}
.css_course_title_det_label, .css_course_title_det_label:hover {text-align: left;vertical-align: middle;}
.css_course_title_det_line, .css_course_title_det_line:hover {width:200px;height:0px;text-align: left;}
.css_course_descriptcion_det_label, .css_course_descriptcion_det_label:hover {text-align: left;vertical-align: middle;}
.css_course_descriptcion_det_line, .css_course_descriptcion_det_line:hover {width:200px;height:0px;text-align: left;}
.css_course_lenght_det_label, .css_course_lenght_det_label:hover {text-align: left;vertical-align: middle;}
.css_course_lenght_det_line, .css_course_lenght_det_line:hover {height:0px;text-align: left;}
.css_course_lang_det_label, .css_course_lang_det_label:hover {text-align: left;vertical-align: middle;}
.css_course_lang_det_line, .css_course_lang_det_line:hover {height:0px;text-align: left;}
.css_course_img_det_label, .css_course_img_det_label:hover {text-align: left;vertical-align: middle;}
.css_course_img_det_line, .css_course_img_det_line:hover {height:0px;text-align: left;}
.css_is_displayed_det_label, .css_is_displayed_det_label:hover {text-align: left;vertical-align: middle;}
.css_is_displayed_det_line, .css_is_displayed_det_line:hover {height:0px;text-align: left;}
