<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include '_required-css.twig' %}

    <!-- PLUGINS FOR CURRENT PAGE -->
    <link rel="stylesheet" href="../plugins/swiper/swiper.min.css">

    {% include '_template-css.twig' %}

    <title>Home - {{title}}</title>
  </head>
  <body>

    {% include '_header.twig' %}

    <div class="container-fluid" id="main-container">
      <div class="row">

        {% include '_sidebar.twig' with {'active':'index'} %}

        <div class="col" id="main-content">

          <!-- Home Slider -->
          <div class="swiper-container" id="home-slider">
            <div class="swiper-wrapper">
              <a href="grid.html" class="swiper-slide" data-cover="../img/slider/1.jpg" data-xs-height="150px" data-sm-height="265px" data-md-height="300px" data-lg-height="300px" data-xl-height="300px"></a>
              <a href="grid.html" class="swiper-slide" data-cover="../img/slider/2.jpg" data-xs-height="150px" data-sm-height="265px" data-md-height="300px" data-lg-height="300px" data-xl-height="300px"></a>
              <a href="grid.html" class="swiper-slide" data-cover="../img/slider/3.jpg" data-xs-height="150px" data-sm-height="265px" data-md-height="300px" data-lg-height="300px" data-xl-height="300px"></a>
            </div>
            <a href="#" role="button" class="carousel-control-prev d-none d-sm-flex" id="home-slider-prev"><i class="fa fa-angle-left fa-lg"></i></a>
            <a href="#" role="button" class="carousel-control-next d-none d-sm-flex" id="home-slider-next"><i class="fa fa-angle-right fa-lg"></i></a>
          </div>
          <!-- /Home Slider -->

          <!-- Services -->
          <div class="row services-box">
            <div class="col-6 col-md-3">
              <div class="media">
                <i class="fa fa-truck"></i>
                <div class="media-body">
                  <h6>FREE SHIPPING</h6>
                  <span class="text-muted d-none d-md-block">Get free shipping for all orders $99 or more</span>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="media">
                <i class="fa fa-refresh"></i>
                <div class="media-body">
                  <h6>MONEY BACK GUARANTEE</h6>
                  <span class="text-muted d-none d-md-block">Get the item you ordered, or your money back</span>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="media">
                <i class="fa fa-shield"></i>
                <div class="media-body">
                  <h6>100% SECURE PAYMENT</h6>
                  <span class="text-muted d-none d-md-block">Your transaction are secure with SSL Encryption</span>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="media">
                <i class="fa fa-phone"></i>
                <div class="media-body">
                  <h6>ONLINE SUPPORT 24/7</h6>
                  <span class="text-muted d-none d-md-block">Chat with experts or have us call you right away</span>
                </div>
              </div>
            </div>
          </div>
          <!-- /Services -->

          <!-- Categories Slider -->
          <h3 class="title mt-4">Shop by Categories</h3>
          <div class="content-slider">
            <div class="swiper-container categories-slider" id="categories-slider">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="row no-gutters gutters-1">
                    <div class="col-6 col-md-3 mb-1">
                      <a href="grid.html" class="card">
                        <img src="../img/categories/1.jpeg" alt="" class="card-img-top">
                        <div class="card-img-overlay card-img-overlay-bottom p-2 pink">
                          <h5>Computers &amp; Accessories</h5>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-3 mb-1">
                      <a href="grid.html" class="card">
                        <img src="../img/categories/2.jpeg" alt="" class="card-img-top">
                        <div class="card-img-overlay card-img-overlay-bottom p-2 primary">
                          <h5>Cell Phones &amp; Accessories</h5>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-3 mb-1">
                      <a href="grid.html" class="card">
                        <img src="../img/categories/3.jpeg" alt="" class="card-img-top">
                        <div class="card-img-overlay card-img-overlay-bottom p-2 purple">
                          <h5>Photography &amp; Videography</h5>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-3 mb-1">
                      <a href="grid.html" class="card">
                        <img src="../img/categories/4.jpeg" alt="" class="card-img-top">
                        <div class="card-img-overlay card-img-overlay-bottom p-2 info">
                          <h5>Home Entertainment</h5>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="row no-gutters gutters-1">
                    <div class="col-6 col-md-3 mb-1">
                      <a href="grid.html" class="card">
                        <img src="../img/categories/5.jpeg" alt="" class="card-img-top">
                        <div class="card-img-overlay card-img-overlay-bottom p-2 success">
                          <h5>Video Games</h5>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-3 mb-1">
                      <a href="grid.html" class="card">
                        <img src="../img/categories/6.jpeg" alt="" class="card-img-top">
                        <div class="card-img-overlay card-img-overlay-bottom p-2 warning">
                          <h5>Headphones</h5>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-3 mb-1">
                      <a href="grid.html" class="card">
                        <img src="../img/categories/8.jpeg" alt="" class="card-img-top">
                        <div class="card-img-overlay card-img-overlay-bottom p-2 danger">
                          <h5>Office Supplies</h5>
                        </div>
                      </a>
                    </div>
                    <div class="col-6 col-md-3 mb-1">
                      <a href="categories.html" class="card">
                        <img src="../img/more.svg" alt="" class="card-img-top">
                      </a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <a href="#" role="button" class="carousel-control-prev" id="categories-slider-prev"><i class="fa fa-angle-left fa-lg"></i></a>
            <a href="#" role="button" class="carousel-control-next" id="categories-slider-next"><i class="fa fa-angle-right fa-lg"></i></a>
          </div>
          <!-- /Categories Slider -->

          <!-- Hot new releases -->
          <h3 class="title mt-4">Hot New Releases</h3>
          <div class="row no-gutters gutters-2">

            <div class="col-6 col-md-3 mb-2">
              <div class="card card-product">
                <div class="ribbon"><span class="bg-info text-white">New</span></div>
                <button class="wishlist" title="Add to wishlist"><i class="fa fa-heart"></i></button>
                <a href="detail.html"><img src="../img/product/1.jpg" alt="NEW Microsoft Surface Go" class="card-img-top"></a>
                <div class="card-body">
                  <span class="price">$549.00</span>
                  <a href="detail.html" class="card-title h6">NEW Microsoft Surface Go</a>
                  <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-outline-info btn-sm btn-block">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <div class="card card-product">
                <button class="wishlist active" title="Added to wishlist"><i class="fa fa-heart"></i></button>
                <a href="detail.html"><img src="../img/product/2.jpg" alt='Apple 15.4" MacBook Pro Laptop Space Gray' class="card-img-top"></a>
                <div class="card-body">
                  <span class="price">$2,720.38</span>
                  <a href="detail.html" class="card-title h6">Apple 15.4" MacBook Pro Laptop Space Gray</a>
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="rating" data-value="4"></span>
                    <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <div class="card card-product">
                <button class="wishlist" title="Add to wishlist"><i class="fa fa-heart"></i></button>
                <a href="detail.html"><img src="../img/product/3.jpg" alt="SanDisk Cruzer CZ36 64GB USB 2.0 Flash Drive" class="card-img-top"></a>
                <div class="card-body">
                  <span class="price">$13.49</span>
                  <a href="detail.html" class="card-title h6">SanDisk Cruzer CZ36 64GB USB 2.0 Flash Drive</a>
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="rating" data-value="4.5"></span>
                    <button type="button" class="btn btn-outline-info btn-sm">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-md-3 mb-2">
              <div class="card card-product">
                <button class="wishlist active" title="Added to wishlist"><i class="fa fa-heart"></i></button>
                <a href="detail.html"><img src="../img/product/4.jpg" alt="Sony Alpha a6500 Mirrorless Digital Camera" class="card-img-top"></a>
                <div class="card-body">
                  <span class="price">$1,098.00</span>
                  <a href="detail.html" class="card-title h6">Sony Alpha a6500 Mirrorless Digital Camera</a>
                  <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-outline-info btn-sm btn-block">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- /Hot new releases -->

          <!-- Popular Brands -->
          <h3 class="title mt-4">Popular Brands</h3>
          <div class="content-slider">
            <div class="swiper-container brands-slider" id="brands-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="row no-gutters gutters-2">
                    <div class="col-6 col-sm-4 col-md-2 mb-2">
                      <a href="grid.html" class="card">
                        <img src="../img/brands/samsung.svg" alt="" class="card-img-top">
                      </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2 mb-2">
                      <a href="grid.html" class="card">
                        <img src="../img/brands/lenovo.svg" alt="" class="card-img-top">
                      </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2 mb-2">
                      <a href="grid.html" class="card">
                        <img src="../img/brands/sony.svg" alt="" class="card-img-top">
                      </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2 mb-2">
                      <a href="grid.html" class="card">
                        <img src="../img/brands/canon.svg" alt="" class="card-img-top">
                      </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2 mb-2">
                      <a href="grid.html" class="card">
                        <img src="../img/brands/xerox.svg" alt="" class="card-img-top">
                      </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2 mb-2">
                      <a href="grid.html" class="card">
                        <img src="../img/brands/lg.svg" alt="" class="card-img-top">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="row no-gutters gutters-2">
                    <div class="col-6 col-sm-4 col-md-2 mb-2">
                      <a href="grid.html" class="card">
                        <img src="../img/brands/xbox.svg" alt="" class="card-img-top">
                      </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2 mb-2">
                      <a href="grid.html" class="card">
                        <img src="../img/brands/dell.svg" alt="" class="card-img-top">
                      </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2 mb-2">
                      <a href="grid.html" class="card">
                        <img src="../img/brands/nikon.svg" alt="" class="card-img-top">
                      </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2 mb-2">
                      <a href="grid.html" class="card">
                        <img src="../img/brands/sandisk.svg" alt="" class="card-img-top">
                      </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2 mb-2">
                      <a href="grid.html" class="card">
                        <img src="../img/brands/gopro.svg" alt="" class="card-img-top">
                      </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2 mb-2">
                      <a href="grid.html" class="card">
                        <img src="../img/brands/logitech.svg" alt="" class="card-img-top">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a href="#" role="button" class="carousel-control-prev" id="brands-slider-prev"><i class="fa fa-angle-left fa-lg"></i></a>
            <a href="#" role="button" class="carousel-control-next" id="brands-slider-next"><i class="fa fa-angle-right fa-lg"></i></a>
          </div>
          <!-- /Popular Brands -->

          <!-- Popular -->
          <h3 class="title mt-4">Popular this week</h3>
          {% include '_popular.twig' %}
          <!-- /Popular -->

          {% include '_footer.twig' %}

        </div>
      </div>
    </div>

    {% include '_modal-cart.twig' %}

    {% include '_required-js.twig' %}

    <!-- PLUGINS FOR CURRENT PAGE -->
    <script src="../plugins/swiper/swiper.min.js"></script>

    {% include '_template-js.twig' %}
  </body>
</html>