.css_codigoverificacion_label { }
.css_codigoverificacion_line { }
.css_codigoverificacion_obj { }
.css_url_label { }
.css_url_line {text-align:left;width:500px;}
.css_url_obj {text-align:left;width:500px;}
.css_activo_label { }
.css_activo_line {text-align:left;}
.css_activo_obj {text-align:left;}
.css_clixcur_id_label { }
.css_clixcur_id_line {text-align:left;}
.css_clixcur_id_obj {text-align:left;}
