.css_id_insumos_det_label, .css_id_insumos_det_label:hover {text-align: left;vertical-align: middle;}
.css_id_insumos_det_line, .css_id_insumos_det_line:hover {height:0px;text-align: left;}
.css_course_id_det_label, .css_course_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_course_id_det_line, .css_course_id_det_line:hover {height:0px;text-align: left;}
.css_topico_det_label, .css_topico_det_label:hover {text-align: left;vertical-align: middle;}
.css_topico_det_line, .css_topico_det_line:hover {height:0px;text-align: left;}
.css_documentos_det_label, .css_documentos_det_label:hover {text-align: left;vertical-align: middle;}
.css_documentos_det_line, .css_documentos_det_line:hover {height:0px;text-align: left;}
.css_videos_det_label, .css_videos_det_label:hover {text-align: left;vertical-align: middle;}
.css_videos_det_line, .css_videos_det_line:hover {height:0px;text-align: left;}
.css_enbed_det_label, .css_enbed_det_label:hover {text-align: left;vertical-align: middle;}
.css_enbed_det_line, .css_enbed_det_line:hover {height:0px;text-align: left;}
.css_paginas_sugeridas_det_label, .css_paginas_sugeridas_det_label:hover {text-align: left;vertical-align: middle;}
.css_paginas_sugeridas_det_line, .css_paginas_sugeridas_det_line:hover {height:0px;text-align: left;}
.css_recomendaciones_det_label, .css_recomendaciones_det_label:hover {text-align: left;vertical-align: middle;}
.css_recomendaciones_det_line, .css_recomendaciones_det_line:hover {width:250px;height:0px;text-align: left;}
.css_test_det_label, .css_test_det_label:hover {text-align: left;vertical-align: middle;}
.css_test_det_line, .css_test_det_line:hover {height:0px;text-align: left;}
