.css_course_id_label { }
.css_course_id_line {text-align:left;}
.css_course_id_obj {text-align:left;}
.css_course_title_label { }
.css_course_title_line {width:450px;}
.css_course_title_obj {width:450px;}
.css_course_descriptcion_label {width:250px;}
.css_course_descriptcion_line {width:200px;}
.css_course_descriptcion_obj {width:250px;height:100px;}
.css_course_lenght_label { }
.css_course_lenght_line { }
.css_course_lenght_obj { }
.css_course_lang_label { }
.css_course_lang_line { }
.css_course_lang_obj { }
.css_course_img_label { }
.css_course_img_line { }
.css_course_img_obj { }
.css_is_displayed_label { }
.css_is_displayed_line {text-align:left;}
.css_is_displayed_obj {text-align:left;}
.css_inputs_course_label { }
.css_inputs_course_line { }
.css_inputs_course_obj { }
