.css_titulo_label { }
.css_titulo_line { }
.css_titulo_obj { }
.css_fecha_inicio_label { }
.css_fecha_inicio_line { }
.css_fecha_inicio_obj { }
.css_fecha_terminacion_label { }
.css_fecha_terminacion_line { }
.css_fecha_terminacion_obj { }
.css_estado_id_label { }
.css_estado_id_line {text-align:left;}
.css_estado_id_obj {text-align:left;}
.css_institucion_id_label { }
.css_institucion_id_line {text-align:left;}
.css_institucion_id_obj {text-align:left;}
