.css_id_clixcur_det_label, .css_id_clixcur_det_label:hover {text-align: left;vertical-align: middle;}
.css_id_clixcur_det_line, .css_id_clixcur_det_line:hover {height:0px;text-align: left;}
.css_cliente_id_det_label, .css_cliente_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_cliente_id_det_line, .css_cliente_id_det_line:hover {height:0px;text-align: left;}
.css_curxinst_id_det_label, .css_curxinst_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_curxinst_id_det_line, .css_curxinst_id_det_line:hover {height:0px;text-align: left;}
.css_estado_id_det_label, .css_estado_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_estado_id_det_line, .css_estado_id_det_line:hover {font-size:15px;font-weight:bold;height:0px;text-align: left;}
