.css_tb_clientes_cliente_nombre_det_label, .css_tb_clientes_cliente_nombre_det_label:hover {text-align: right;vertical-align: middle;}
.css_tb_clientes_cliente_nombre_det_line, .css_tb_clientes_cliente_nombre_det_line:hover {height:0px;text-align: right;}
.css_tb_courses_course_title_det_label, .css_tb_courses_course_title_det_label:hover {text-align: right;vertical-align: middle;}
.css_tb_courses_course_title_det_line, .css_tb_courses_course_title_det_line:hover {height:0px;text-align: right;}
.css_tb_courses_course_descriptcion_det_label, .css_tb_courses_course_descriptcion_det_label:hover {text-align: right;vertical-align: middle;}
.css_tb_courses_course_descriptcion_det_line, .css_tb_courses_course_descriptcion_det_line:hover {width:250px;height:0px;text-align: right;}
.css_tb_courses_course_lenght_det_label, .css_tb_courses_course_lenght_det_label:hover {text-align: right;vertical-align: middle;}
.css_tb_courses_course_lenght_det_line, .css_tb_courses_course_lenght_det_line:hover {height:0px;text-align: right;}
.css_tb_courses_course_lang_det_label, .css_tb_courses_course_lang_det_label:hover {text-align: right;vertical-align: middle;}
.css_tb_courses_course_lang_det_line, .css_tb_courses_course_lang_det_line:hover {height:0px;text-align: right;}
.css_tb_courses_is_displayed_det_label, .css_tb_courses_is_displayed_det_label:hover {text-align: right;vertical-align: middle;}
.css_tb_courses_is_displayed_det_line, .css_tb_courses_is_displayed_det_line:hover {height:0px;text-align: right;}
.css_tb_clientes_cliente_email_det_label, .css_tb_clientes_cliente_email_det_label:hover {text-align: right;vertical-align: middle;}
.css_tb_clientes_cliente_email_det_line, .css_tb_clientes_cliente_email_det_line:hover {height:0px;text-align: right;}
.css_tb_courses_course_id_det_label, .css_tb_courses_course_id_det_label:hover {text-align: right;vertical-align: middle;}
.css_tb_courses_course_id_det_line, .css_tb_courses_course_id_det_line:hover {height:0px;text-align: right;}
.css_vw_cursosxinst_nombre_det_label, .css_vw_cursosxinst_nombre_det_label:hover {text-align: right;vertical-align: middle;}
.css_vw_cursosxinst_nombre_det_line, .css_vw_cursosxinst_nombre_det_line:hover {height:0px;text-align: right;}
