.css_enlace_imagen_label { }
.css_enlace_imagen_line { }
.css_enlace_imagen_obj { }
.css_informacion_label { }
.css_informacion_line { }
.css_informacion_obj { }
.css_modalidad_label { }
.css_modalidad_line { }
.css_modalidad_obj { }
.css_activo_label { }
.css_activo_line {text-align:left;}
.css_activo_obj {text-align:left;}
.css_curxinst_id_label { }
.css_curxinst_id_line {text-align:left;}
.css_curxinst_id_obj {text-align:left;}
