// Sidebar
$sidebar-width: 250px;

// Cart Modal
$modal-cart-width: 300px;

// Price
$price-color: #e83e8c;

// Webkit scroll bar
$webkit-scrollbar-size: 9px;
$webkit-scrollbar-track-bg: #f2f2f2;
$webkit-scrollbar-track-border: 1px solid #d9d9d9;
$webkit-scrollbar-handle-bg: #c2c2c2;
$webkit-scrollbar-handle-border: 1px solid #9c9c9c;
$webkit-scrollbar-handle-hover-bg: #919191;
$webkit-scrollbar-handle-hover-border: 1px solid #6a6a6a;

// PerfectScrollbar
$ps-size: 3px;
$ps-hover-size: $ps-size * 2;
$ps-container-hover-focus-clicking-bg: rgba(#333, .1);