.css_codigoverificacion_label, .css_codigoverificacion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigoverificacion_grid_line, .css_codigoverificacion_grid_line:hover {vertical-align: top;text-align: right;}
.css_url_label, .css_url_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_url_grid_line, .css_url_grid_line:hover {vertical-align: top;text-align: right;}
.css_activo_label, .css_activo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_activo_grid_line, .css_activo_grid_line:hover {vertical-align: top;text-align: right;}
.css_clixcur_id_label, .css_clixcur_id_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_clixcur_id_grid_line, .css_clixcur_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_confirmacion_id_label, .css_confirmacion_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_confirmacion_id_grid_line, .css_confirmacion_id_grid_line:hover {vertical-align: top;text-align: right;}
