.css_cliente_id_label { }
.css_cliente_id_line {text-align:left;}
.css_cliente_id_obj {text-align:left;}
.css_curxinst_id_label { }
.css_curxinst_id_line {text-align:left;}
.css_curxinst_id_obj {text-align:left;}
.css_estado_id_label { }
.css_estado_id_line {text-align:left;}
.css_estado_id_obj {text-align:left;}
