.css_id_insumos_label, .css_id_insumos_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_insumos_grid_line, .css_id_insumos_grid_line:hover {vertical-align: top;text-align: right;}
.css_course_id_label, .css_course_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_course_id_grid_line, .css_course_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_topico_label, .css_topico_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_topico_grid_line, .css_topico_grid_line:hover {vertical-align: top;text-align: left;}
.css_documentos_label, .css_documentos_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_documentos_grid_line, .css_documentos_grid_line:hover {vertical-align: top;text-align: left;}
.css_videos_label, .css_videos_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_videos_grid_line, .css_videos_grid_line:hover {vertical-align: top;text-align: left;}
.css_paginas_sugeridas_label, .css_paginas_sugeridas_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_paginas_sugeridas_grid_line, .css_paginas_sugeridas_grid_line:hover {vertical-align: top;text-align: left;}
